.area {
  background: #FFFFFF;
  border-radius: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 60px;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.icon {
  margin-right: 20px;
  cursor: pointer;
}
.title {
  font-size: 24px;
  font-weight: 700;
}
.navigation {
  margin-left: 50px;
  font-size: 16px;
  color: #7F7F7F;
}
.filter {
  max-width: 240px;
  width: 100%;
  margin-right: 40px;
}
.list {
  width: 100%;
}