.profile__wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.profile {
  display: flex;
  width: 100%;
  max-width: 300px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  flex-direction: column;
}

.list {
  width: 100%;
}

.avatar {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.avatar__img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-image: url("https://uploads-ssl.webflow.com/603f5ff8489ddc72cf67784b/60488abe44526752727d0f58_Ellipse%201.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.person {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.person__name {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.person__position {
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}

.person__department {
  margin-bottom: 30px;
  font-size: 13px;
  text-align: center;
}

.person__director {
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #e0e0e0;
}

.contact {
  padding-top: 20px;
  padding-bottom: 10px;
}

.contact__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.contact__info {
  margin-left: 20px;
  font-size: 14px;
}

.buttons {
  margin-top: 30px;
}

.toggle {
  cursor: pointer;
}

.faq__container {
  padding: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  border-radius: 16px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 0px 5px rgba(19, 19, 19, 0.25);
}
.faq_closed {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq_closed svg {
  min-width: 20px;
  transition: transform 0.4s ease 0s;
}
.faq__question {
  padding-right: 15px;
  font-weight: 700;
  font-size: 24px;
  transition: all 0.4s ease 0s;
}
.faq_open {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq_open svg {
  transform: rotate(180deg);
}
.faq_open svg {
  min-width: 20px;
  transition: transform 0.4s ease 0s;
}
.faq__answer {
  color: rgb(34, 34, 34);
  font-size: 16px;
  line-height: 24px;
  padding: 5px 0px 51px;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 16px;
  max-width: 600px;
  width: 100%;
  cursor: pointer;
}

.status {
  display: flex;
  align-items: center;
}

.icon {
  width: 22px;
  margin-left: 7px;
  margin-right: 7px;
  cursor: pointer;
}