.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 42px;
  max-width: 120px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #151515;
  background: #e6be00;
  box-shadow: 0px 0px 5px rgba(19, 19, 19, 0.25);
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 300ms;
  cursor: pointer;
  user-select: none;
}
.button:hover {
  box-shadow: 0px 0px 7px rgba(19, 19, 19, 0.3);
}
.button_loading {
  //
}
.icon {
  margin-left: 20px;
}
