.select__container {
  --blackwhite: #333;
  --bgcolor: #f6f8fc;
  --primarycolor: #fff;
  --cardbgcolor: #fff;
  --cardshadow: 1px 1px 15px 5px rgba(242, 242, 247, 0.4);
  --overviewshadow: -20px 0 50px 0 rgba(0, 0, 0, 0.1);
  --darkened: #1a1f36;
  --currencysymbol: #a7a7a7;
  --labeldark: #6b7c93;
  --tablehead: #405467;
  --tablerow: #405467;
  --tablerowhover: #e0ebf7;
  --tablerowselected: #c7ddf5;
  --bglight: #f8fafc;
  --title: #000118;
  --newscontent: #98a7b4;
  --profitbg: #e8eff7;
  --formbg: #ecf1f7;
  --formcolor: #1b1f37;
  --activebg: #edeef5;
  --activecolor: #1f3951;
  --menubg: #fff;
  --alertcontent: #3c4257;
  --alerttime: #697386;
  --dropdowndivider: #e3e8ef;
  --dropdownshadow: -20px 0 70px 0 rgba(0, 0, 0, 0.1);
  --dropdownplaceholder: #9299a2;
  --dropdownfocused: #f5f5f6;
  --dropdownselected: #efeff1;
  --hover: #d9dfe6;
  --pressed: #c7cdd4;
  --tabpressed: #c7cdd4;
  --marketsdivider: #e3e8ef;
  --marketshover: #ecf1f7;
  --marketsactive: #e4ecf5;
  --customdropdown: #ecf1f8;
  --btncustomize: #e6ebf1;
  --btncustomizehover: #d9dfe6;
  --btncustomizepressed: #d1d7df;
  --placeholder: #9299a2;
  --news: #ecf1f7;
  --modalbg: #fff;
  --modaltext: #1b1a1a;
  --modaltop: #f6f9fc;
  --modaltoptext: #191919;
  --modallabel: #91979d;
  --authbottom: #d2e0f0;
  --authbottomhover: #c5d3e4;
  --authbottompressed: #acbfd4;
}

.select__container {
  width: 100% !important;
  border-radius: 4px !important;
  user-select: none;
}

.select_small {
  width: 49% !important;
}

.select__control {
  min-height: 56px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
  background-color: #ecf1f7 !important;
  -webkit-transition: all 300ms !important;
  transition: all 300ms !important;
  color: #a7a7a7 !important;
  box-shadow: none !important;
  border: 1px solid transparent !important;
}

.select__control:hover {
  background-color: #e4ebf3 !important;
}

.select__container.select__container_error .select__control {
  background-color: rgba(224, 31, 25, 0.08) !important;
}

/* .select__control--menu-is-open {
  border: 1px solid #616871 !important;
  background-color: #fff !important;
}
.select__control--menu-is-open:hover {
  background-color: #fff !important;
} */

.select__menu {
  z-index: 1500 !important;
  /* box-shadow: 0 8px 16px -4px rgba(51, 51, 51, 0.2); */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
  border-radius: 4px;
  background-color: #fff !important;
  margin-top: 4px;
}

.select__value-container {
  color: var(--blackwhite) !important;
}

.select__placeholder {
  color: rgba(0, 0, 0, 0.54) !important;
  font-size: 15px !important;
}

.select__input {
  color: var(--blackwhite) !important;
}

.select__indicator-separator {
  display: none !important;
}

.select__indicator.select__dropdown-indicator {
  color: var(--darkened) !important;
}

.select__indicator.select__dropdown-indicator:hover {
  color: var(--darkened) !important;
}

.select__menu-list {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.select__option {
  display: flex;
  align-items: center;
  padding-top: 14px !important;
  padding-bottom: 14px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  color: var(--blackwhite) !important;
}

.select__option--is-focused {
  background-color: var(--dropdownfocused) !important;
}

.select__option--is-selected {
  background-color: var(--dropdownselected) !important;
}

.select__single-value {
  color: var(--blackwhite) !important;
}