.input {
  min-height: 42px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  padding: 11px 10px;
  color: #7F7F7F;
  font-size: 14px;
  outline: none;
  margin-right: 8px;
}
.icon {
  margin-left: 20px;
}